@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/FiraSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: FiraSans;
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Inter_24pt-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter_24pt-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter_24pt-Bold.ttf') format('ttf');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background-overlay: rgb(33, 33, 33, 0.24);
    --primary: #f4511e;
    --primary-dark: #dd491c;
    --background: #ffffff;
    --secondary: #97a1af;
    --secondary: #97a1af;
    --text: #344051;
    --text-light: #f3f4f6;
    --font-logo: 'FiraSans' 'sans-serif';
    --font-inter: 'Inter' 'sans-serif';
  }

  .dark {
    --background-overlay: rgb(33, 33, 33, 0.24);
    --primary: #f4511e;
    --primary-dark: #dd491c;
    --background: #344051;
    --secondary: #97a1af;
    --text: #344051;
    --text-light: #f3f4f6;
    --font-logo: 'FiraSans' 'sans-serif';
    --font-inter: 'Inter' 'sans-serif';
  }
}

@layer utilities {
  .primary-filter {
    filter: brightness(0) saturate(100%) invert(43%) sepia(78%) saturate(3821%) hue-rotate(350deg)
      brightness(98%) contrast(95%);
  }
  .grey-dark-filter {
    filter: brightness(0) saturate(100%) invert(23%) sepia(22%) saturate(519%) hue-rotate(175deg)
      brightness(102%) contrast(101%);
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}
